@font-face {
    font-family: Hatton;
    src: url("fonts/PPHatton-Ultralight.otf") format("opentype");
}

@font-face {
    font-family: TT Commons;
    src: url("fonts/TT\ Commons\ Regular.otf") format("opentype");
}

html    {
    scroll-behavior: smooth;
}

body    {
    background-color: #ebebeb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

/* anotar para commit */
.div-margin {
    margin-top: 30px;
}

.header,
.header-two {
    position: relative;
    color: #312107;
    background-color: #ebebeb;
    font-family: 'TT Commons', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 80px;
}

.header {
    padding-right: 55px;
}

.hidden-menu    {
    display: none;
}

#menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon {
    width: 30px;
    height: 30px;
  }
  
#dropdown-menu {
    position: absolute;
    top: 80%;
    left: 19%;
    background-color: #ebebeb;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; 
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

#dropdown-menu ul   {
    padding: 0px 40px;
}

#dropdown-menu li   {
    margin: 10px 0px;
}

#dropdown-menu li a {
    color: #312107;
    font-size: 25px;
}

#dropdown-menu.active {
    display: flex;
  }
  
.hidden {
    display: none;
}

.header-title,
h2   {
    font-family: 'Hatton', sans-serif;
    font-size: 50px;
    font-weight: bold;
    padding-top: 10px;
}

h2  {
    margin: 20px 0px;
}

h4  {
    font-family: 'Hatton', sans-serif;
    font-size: 30px;
    margin: 25px; 
}

.header-links   {
    list-style-type: none;
    display: flex;
    gap: 60px;
    padding: 0px;
    margin: 16px;
}

a   {
    color: #312107;
    text-decoration: none;
}

.hero   { 
    flex: 1;  
    background-image: linear-gradient(rgba(207, 175, 140, 0.7), rgba(207, 175, 140, 0.7)), url(img/hero-image.jpg);
    background-color: #b7a58f;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);    
    color: #fffdf5;
    font-family: 'TT Commons', sans-serif;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 145px 100px;
}

.hero-title {
    font-family: 'Hatton', sans-serif;
    font-size: 55px;
    font-weight: normal;
    margin: 10px;
}

.hero p {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 60px;
}

.hero button,
#antecedentes button,
.small-front-div {
    color: #312107;
    background-color: #ebebeb;
    font-family: 'TT Commons', sans-serif;
    font-size: 15px;
    border: none;
    width: 180px;
    padding: 10px;
}

#ubicacion-hidden-img    {
    display: none;
}

.small-front-div  {
    font-size: 22px;
    width: 220px;
    padding: 15px;
    text-align: center;
}

#antecedentes button        {
    font-size: 20px;
    border: solid 2px #312107;
    width: 100%;
}

.nested-list    {
    padding-right: 20px;
}

.nested-list, .nested-list *  {
    font-size: 21px;
}

.div-ubicacion  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px;
    gap: 60px;
}

.div-ubicacion p, 
.div-ubicacion ul,  
.div-ubicacion h3    {
    font-family: 'TT Commons', sans-serif;
    font-size: 30px;
    text-align: justify;
}

.texto-imagen   {
    color: #312107;
    background-color: #ebebeb;
    font-family: 'TT Commons', sans-serif;
    /* Justificado */
    text-align: justify;
    text-justify: inter-word;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 55px;
    gap: 60px;
}

.antecedentes   {
    align-self: stretch;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.multiple-img-background,
.consigna-multiple-img-background  {
    display: flex;
    padding: 35px 55px;
    position: relative;
    z-index: 1;
}

.multiple-img-background img  {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.content-multiple-img-background,
.elaboración-content-multiple-img-background   {
    position: absolute;  
    left: 0;
    right: 8%;
    height: 100%;
    transform: translateY(0%);
    padding: 5% 10%;
    z-index: 2;
}

.content-multiple-img {
    width: 100%;
    color:#fffdf5;
    background-color: rgba(207, 175, 140, 0.7);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    overflow: auto;
}

.casos-content-multiple-img {
    color:#fffdf5;
    background-color: rgba(207, 175, 140, 0.7);
    font-weight: bold;
    padding: 20px 40px;
    min-width: 100%;
}

.content-multiple-img div,
.casos-content-multiple-img-background div {
    max-width: 45%;
}

.casos-content-multiple-img-background div  {
    min-width: 45%;
}

.content-multiple-img h2,
.casos-content-multiple-img h2,
.elaboración-content-multiple-img-background h2  {
    color:#fffdf5;
    font-family: 'Hatton', sans-serif;
    text-align: center;
}

.casos-content-multiple-img h2  {
    font-size: 55px;
}

.content-multiple-img p, .casos-content-multiple-img p, 
.content-multiple-img ul, .content-multiple-img ol  {
    font-family: 'TT Commons', sans-serif;
    font-size: 19px;
}

.centered-block {
    color: #312107;
    background-color: #d8ccc4;
    font-family: 'TT Commons', sans-serif;
    font-size: 25px;
    text-align: justify;
    align-items: center;
    padding: 5%;
    width: 35%;
    margin: auto;
}

.rotated-right   {
    transform: rotate(0.25turn)
}

.rotated-left   {
    transform: rotate(-0.25turn)
}

.casos-content-multiple-img-background  {
    position: absolute;
    display: flex;
    align-items: center;
    top: -2%;
    left: 8%;
    right: 0%;
    height: 100%;
    z-index: 2;
}
.content-multiple-img h2,
.casos-content-multiple-img h2,
.elaboración-content-multiple-img-background h2  {
    color:#fffdf5;
    font-family: 'Hatton', sans-serif;
    text-align: center;
}

.casos-content-multiple-img h2  {
    font-size: 55px;
}

.content-multiple-img div,
.casos-content-multiple-img-background div {
    max-width: 45%;
}

.casos-content-multiple-img-background div  {
    min-width: 45%;
}

.casos-content-multiple-img p   {
    font-family: 'TT Commons', sans-serif;
    font-size: 22px;
}

.flex-column-center    {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.minimalistic-div   {
    display: flex;
}

.image-wrapper {
    position: relative;
    width: 300px; 
    height: 600px; 
    overflow: hidden;
}

.image-food {
    width: auto;
    height: 1200px; 
    object-fit: none;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
}

.image-food.second {
    object-position: bottom;
}